# Base de datos
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=rootpassword
DB_NAME=nutritrack

# Servidor
PORT=3001
CORS_ORIGIN=http://35.253.4.191

# JWT
JWT_SECRET=cambia_esta_clave_super_secreta
JWT_EXPIRES_IN=7d
